.modal {
  background: var(--white);
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  width: 400px;
  z-index: 4;
}

.closeBtn {
  background: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 5;
}

.overlay {
  background-color: var(--overlay);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
